<form #form="ngForm" (ngSubmit)="createTodo()">
  <label>
    <input type="text" [ngModelOptions]="{standalone: true}" [(ngModel)]=" newTodoDescription" required>
  </label>
  <button type="submit">crear tarea</button>
</form>
@if (errorMessage) {
<span>{{errorMessage}}</span>
}
<app-todo-list />
<router-outlet />